.outer {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: rgb(238, 204, 9);
    text-align: center;
}
#indiv1, #indiv2 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin-top: 100px;
}
#indiv3 {
    height: 90px;
    width: 250px;
    background-color: 	rgb(156, 43, 35);
    margin-top: 135px;
    margin-left: 120px;
    border-radius: 0 0 50px 50px;
}
#indiv1 {
    margin-right: 65px;
}
#indiv2 {
    margin-left: 65px;
}