.container {
    height: 400px;
    width: 400px;
    background-color: white;
    display: flex;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.items {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: grey;
    border-radius: 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.outer {
    height: 50px;
    width: 900px;
    display: flex;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    background-color: pink;
    justify-content: flex-start;
    align-content: center;
}
.inner {
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 5px;
    line-height: 50px;
}